<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Detail Cabang</title>
    <object th:include = "fragments/fragment :: css" th:remove="tag"></object>
    <object th:include = "fragments/fragment :: js" th:remove="tag"></object>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-color: #edf6f9;
        font-family: 'Outfit', sans-serif;
    }
    #title {
        font-size: 35px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        text-align: center;
    }
    #title2 {
        font-size: 28px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }
    #noItem {
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
</style>
<body>
<nav th:replace= "fragments/fragment :: navbar('cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <div class="col">
                    <h2 id = "title">Detail Cabang</h2>
                    <br>
                    <p th:text="'Id Cabang    : ' + ${cabang.id}"></p>
                    <p th:text="'Nama Cabang  : ' + ${cabang.nama}"></p>
                    <p th:text="'Alamat Cabang : ' + ${cabang.alamat}"></p>
                    <p th:text="'Ukuran Cabang : ' + ${cabang.ukuran}"></p>
                    <p th:if = "${cabang.status} == 0" th:text="'Status Cabang : Menunggu Persetujuan'"></p>
                    <p th:if = "${cabang.status} == 1" th:text="'Status Cabang : Ditolak'"></p>
                    <p th:if = "${cabang.status} == 2" th:text="'Status Cabang : Disetujui'"></p>
                    <p th:text="'Nomor Telepon : ' + ${cabang.noTelp}"></p>
                    <p th:if="${cabang.penanggungJawab != null}" th:text="'Penanggung Jawab Cabang : ' + ${cabang.penanggungJawab.nama}"></p>
                    <p th:if="${cabang.penanggungJawab == null}" th:text="'Penanggung Jawab Cabang : -'"></p>
                </div>
                <div class="col">
                    <br>
                    <h4 id = "title2">Daftar Item Cabang: </h4>
                    <a class="btn btn-outline-info" th:href="@{/item/increase/} + ${cabang.id}">Naikkan Stok Item</a>
                    <a sec:authorize="hasAnyAuthority('Kepala Retail','Manager Cabang')" type="button" class="btn btn-info" th:href="@{/item/add/} + ${cabang.id}">Tambah Item</a>
                    <br>
                    <div th:if="${errorMsg}">
                        <br>
                        <span style="color: red" th:text = "${errorMsg}"></span>
                    </div>
                    <div th:if = "*{listItemCabang.size() != 0}">
                        <form th:action = "@{/item/delete}" th:object = "${cabang}" method = "POST">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{nama}">
                            <table class = "table">
                                <br>
                                <thead style = "text-align: center;">
                                    <tr>
                                        <th> No </th>
                                        <th> Nama Item </th>
                                        <th> Stok pada Cabang </th>
                                        <th> Harga </th>
                                        <th sec:authorize="hasAnyAuthority('Kepala Retail','Manager Cabang')"> Promo </th>
                                        <th> Hapus </th>
                                    </tr>
                                </thead>
                                <tbody style = "text-align: center;">
                                    <tr th:each = "itemCabang, iterationStatus : ${listItemCabang}"
                                        th:style = "${iterationStatus.even} ? 'font-weight: bold;'">
                                        <td th:text = "${iterationStatus.count}"></td>
                                        <td th:text = "${itemCabang.nama}"></td>
                                        <td th:text = "${itemCabang.stok}"></td>
                                        <td th:text = "${itemCabang.harga}"></td>
                                        <td sec:authorize="hasAnyAuthority('Kepala Retail','Manager Cabang')">
                                            <a th:if = "${itemCabang.idPromo == null}" class="btn btn-sm btn-outline-info" th:href="@{/item/promo/} + ${cabang.id} + @{/} + ${itemCabang.id}">Terapkan Promo</a>
                                        </td>
                                        <td>
                                            <input class="form-check-input" type="checkbox" th:field="*{listItemCabang}"
                                            th:value="${itemCabang.id}" id="flexCheckDefault">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style = "text-align:right;">
                                <input type="submit" value="Hapus Item Terpilih" class= "btn btn-danger">
                            </div>
                        </form>
                    </div>
    
                    <div th:unless="*{listItemCabang.size() != 0}">
                        <h6 id = "noItem" th:text = "'Tidak ada item yang tersedia'"></h6>
                    </div>
                    <hr>
                </div>
                <br>
                <a class="btn btn-outline-info" href="/cabang/viewall">Lihat Semua Cabang</a>
                <a sec:authorize="hasAnyAuthority('Kepala Retail','Manager Cabang')" type="button" class="btn btn-info" th:href="@{/cabang/update/} + ${cabang.id}">Perbarui Cabang</a>
                <a sec:authorize="hasAnyAuthority('Kepala Retail','Manager Cabang')" type="button" class="btn btn-danger" th:href="@{/cabang/delete/} + ${cabang.id}">Hapus Cabang</a>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>