<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Add User</title>
    <object th:include = "fragments/fragment :: css" th:remove="tag"></object>
    <object th:include = "fragments/fragment :: js" th:remove="tag"></object>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-color: #edf6f9;
        font-family: 'Outfit', sans-serif;
    }
    #title {
        font-size: 35px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        text-align: center;
    }
</style>
<body>
<nav th:replace= "fragments/fragment :: navbar('cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 id = "title">Add Item</h2>
                <div th:if="${error}">
                    <span style="color: red" th:text = "${error}"></span>
                </div>
                <form th:action="@{/item/add/} + ${cabangId}" th:object="${listResultDetail}" method="POST">
                    <br>
                    <button class="btn btn-primary" name="addRow">Add More Item</button>
                    <br>
                    <br>
                    <tr th:each="item, itemStat : *{resultDetailList}">
                        <td>
                            <select th:field="*{resultDetailList[__${itemStat.index}__].uuid}">
                                <option th:each="it : ${listItem}" th:value="${it.uuid}" th:text="${it.nama}">
                                </option>
                            </select>
                            <br>
                        </td>
                        <td>
                            <input class="form-control" type="number" th:field="*{resultDetailList[__${itemStat.index}__].stok}"/>
                            <br>
                        </td>
                        <td>
                            <button th:value="${itemStat.index}" class="btn btn-danger" type="submit"
                                    name="deleteRow">Hapus</button>
                            <br>
                            <br>
                        </td>
                    </tr>
                    <br>
                    <div style = "text-align:center;">
                        <a class="btn btn-info" th:href="@{/cabang/view/} + ${cabangId}">Back to Detail Cabang</a>
                        <button type="submit" class="btn btn-outline-info">Save Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>