<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Cabang</title>
    <object th:include = "fragments/fragment :: css" th:remove="tag"></object>
    <object th:include = "fragments/fragment :: js" th:remove="tag"></object>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-color: #edf6f9;
        font-family: 'Outfit', sans-serif;
    }
    #title {
        font-size: 35px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        text-align: center;
    }
</style>
<body>
<nav th:replace= "fragments/fragment :: navbar('home')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:if="${accepted}" th:text="'Requested cabang ' + ${cabang.nama} + ' is accepted'"></h2>
                <h2 th:if="${rejected}" th:text="'Requested cabang ' + ${cabang.nama} + ' is rejected'"></h2>
                <br><hr>
                <div style = "text-align:center;">
                    <a class="btn btn-info" th:href="@{/cabang/view/} + ${cabang.id}">See Detail</a>
                    <a class="btn btn-outline-info" th:href="@{/}">Back to List Cabang Request</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>